<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://automatedtellermachine20170519021042.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>automatedtellermachine20170519021042.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AutomatedTellerMachine20170519021042</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AutomatedTellerMachine20170519021042</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AutomatedTellerMachine.Content.Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:automatedtellermachine20170519021042dbserver.database.windows.net,1433;Initial Catalog=AutomatedTellerMachine20170519021042_db;User ID=atmuser@automatedtellermachine20170519021042dbserver;Password=Babcia123" Name="Data Source=tcp:automatedtellermachine20170519021042dbserver.database.windows.net,1433;Initial Catalog=AutomatedTellerMachine20170519021042_db;User Id=atmuser@automatedtellermachine20170519021042dbserver;Password=Babcia123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AutomatedTellerMachine.Content.Entities, AutomatedTellerMachine" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:automatedtellermachine20170519021042dbserver.database.windows.net,1433;Initial Catalog=AutomatedTellerMachine20170519021042_db;User ID=atmuser@automatedtellermachine20170519021042dbserver;Password=Babcia123" Name="Data Source=tcp:automatedtellermachine20170519021042dbserver.database.windows.net,1433;Initial Catalog=AutomatedTellerMachine20170519021042_db;User Id=atmuser@automatedtellermachine20170519021042dbserver;Password=Babcia123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AutomatedTellerMachine.Models.ApplicationDbContext, AutomatedTellerMachine" MigrationConfiguration="AutomatedTellerMachine.Migrations.Configuration, AutomatedTellerMachine" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AutomatedTellerMachine.Content.Entities-Web.config Connection String">
      <ParameterValue>Data Source=tcp:automatedtellermachine20170519021042dbserver.database.windows.net,1433;Initial Catalog=AutomatedTellerMachine20170519021042_db;User Id=atmuser@automatedtellermachine20170519021042dbserver;Password=Babcia123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:automatedtellermachine20170519021042dbserver.database.windows.net,1433;Initial Catalog=AutomatedTellerMachine20170519021042_db;User Id=atmuser@automatedtellermachine20170519021042dbserver;Password=Babcia123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AutomatedTellerMachine.Content.Entities" />
  </ItemGroup>
</Project>